# Shopware 6
#bin/*
#!bin/console
#!bin/shopware

#custom/plugins/*/vendor
#custom/plugins/*/node_modules
#custom/plugins/*/assets

#public/bundles
#public/theme
#public/updates
#public/recovery/install

var/cache/*
var/log/*
#var/theme
#var/updates

vendor/*
!vendor/autoload.php
!vendor/composer/*
!vendor/symfony/*
!vendor/psr/*
!vendor/doctrine/*
!vendor/doctrine-annotations/*
!vendor/guzzlehttp/*
!vendor/swiftmailer/*
!vendor/twig/*
!vendor/webpack/*
!vendor/shopware/*
.env
